# Preprocessing H&M Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
articles = pd.read_csv("../hm_dataset/raw_data/articles.csv")
customers = pd.read_csv("../hm_dataset/raw_data/customers.csv")
transactions = pd.read_csv("../hm_dataset/raw_data/transactions_train.csv")

In [3]:
articles

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,953450001,953450,5pk regular Placement1,302,Socks,Socks & Tights,1010014,Placement print,9,Black,...,Socks Bin,F,Menswear,3,Menswear,26,Men Underwear,1021,Socks and Tights,Socks in a fine-knit cotton blend with a small...
105538,953763001,953763,SPORT Malaga tank,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,2,H&M+,1005,Jersey Fancy,Loose-fitting sports vest top in ribbed fast-d...
105539,956217002,956217,Cartwheel dress,265,Dress,Garment Full body,1010016,Solid,9,Black,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,"Short, A-line dress in jersey with a round nec..."
105540,957375001,957375,CLAIRE HAIR CLAW,72,Hair clip,Accessories,1010016,Solid,9,Black,...,Small Accessories,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,Large plastic hair claw.
105541,959461001,959461,Lounge dress,265,Dress,Garment Full body,1010016,Solid,11,Off White,...,Jersey,A,Ladieswear,1,Ladieswear,18,Womens Trend,1005,Jersey Fancy,Calf-length dress in ribbed jersey made from a...

In [4]:
customers

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
...,...,...,...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

In [5]:
transactions

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

---
#### Convert dates to timestamps

In [6]:
import time
import datetime

def datetime_to_timestamp(date):
    return time.mktime(datetime.datetime.strptime(date, "%Y-%m-%d").timetuple())
    
transactions['t_dat'] = transactions['t_dat'].apply(datetime_to_timestamp)

transactions

,t_dat,customer_id,article_id,price,sales_channel_id
0,1.537402e+09,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,1.537402e+09,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,1.537402e+09,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,1.537402e+09,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,1.537402e+09,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,1.600733e+09,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,1.600733e+09,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,1.600733e+09,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,1.600733e+09,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,1.600733e+09,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

#### Remove redundant columns in articles

In [7]:
articles.drop(
    inplace=True,
    columns=['product_code', 'product_type_no', 'graphical_appearance_no', 'colour_group_code', 'perceived_colour_value_id', 'perceived_colour_master_id', 'department_no',
            'index_code', 'index_group_no', 'section_no', 'garment_group_no'])

## Merge Tables

In [8]:
full_dataset = pd.merge(transactions, customers, on='customer_id', how='left')
full_dataset = pd.merge(full_dataset, articles, on='article_id', how='left')
full_dataset.sort_values(['customer_id', 't_dat'], inplace=True)
full_dataset

,t_dat,customer_id,article_id,price,sales_channel_id,FN,Active,club_member_status,fashion_news_frequency,age,...,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,index_group_name,section_name,garment_group_name,detail_desc
4212358,1.545869e+09,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,625548001,0.044051,1,NaN,NaN,ACTIVE,NONE,49.0,...,Solid,Dark Blue,Dark,Blue,Young Boy Outdoor,Children Sizes 134-170,Baby/Children,Kids Outerwear,Outdoor,"Padded jacket with a detachable hood, stand-up..."
4212359,1.545869e+09,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,176209023,0.035576,1,NaN,NaN,ACTIVE,NONE,49.0,...,Solid,Black,Dark,Black,Jacket Street,Menswear,Menswear,Mens Outerwear,Outdoor,"Short, padded jacket with a jersey-lined hood ..."
4212360,1.545869e+09,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,627759010,0.030492,1,NaN,NaN,ACTIVE,NONE,49.0,...,Solid,Dark Blue,Dark,Blue,Kids Girl Outdoor,Children Sizes 92-140,Baby/Children,Kids Outerwear,Outdoor,"Padded parka in woven fabric with a soft, brus..."
9663224,1.556755e+09,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,697138006,0.010153,2,NaN,NaN,ACTIVE,NONE,49.0,...,All over pattern,Light Pink,Dusty Light,Pink,Kids Girl Jersey Fancy,Children Sizes 92-140,Baby/Children,Kids Girl,Jersey Fancy,Playsuit in cotton jersey with butterfly sleev...
10754876,1.558742e+09,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601006,0.050831,2,NaN,NaN,ACTIVE,NONE,49.0,...,Solid,Black,Dark,Black,Suit,Ladieswear,Ladieswear,Womens Tailoring,Dressed,Fitted jacket in woven fabric with notch lapel...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24375394,1.586390e+09,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,866755002,0.043203,2,1.0,1.0,ACTIVE,Regularly,18.0,...,Denim,Blue,Medium Dusty,Blue,Dresses,Divided,Divided,Divided Collection,Dresses Ladies,"Short, fitted dress in sturdy cotton twill wit..."
24375395,1.586390e+09,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,840360003,0.013542,2,1.0,1.0,ACTIVE,Regularly,18.0,...,Embroidery,White,Light,White,Tops Fancy Jersey,Divided,Divided,Divided Collection,Jersey Fancy,Straight-cut T-shirt in cotton jersey with a m...
25077914,1.587773e+09,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,866755002,0.050831,2,1.0,1.0,ACTIVE,Regularly,18.0,...,Denim,Blue,Medium Dusty,Blue,Dresses,Divided,Divided,Divided Collection,Dresses Ladies,"Short, fitted dress in sturdy cotton twill wit..."
27806865,1.592784e+09,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,882810001,0.016932,1,1.0,1.0,ACTIVE,Regularly,18.0,...,Solid,Light Orange,Dusty Light,Orange,Clean Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Brazilian briefs in soft, organic cotton jerse..."
19867243,1.575418e+09,ffffd9ac14e89946416d80e791d064701994755c3ab686...,806050001,0.084729,2,NaN,NaN,PRE-CREATE,NONE,65.0,...,Solid,Black,Dark,Black,Boots,Ladies Accessories,Ladieswear,Womens Shoes,Shoes,Knee-high boots in soft imitation suede with a...

In [9]:
full_dataset.to_csv(path_or_buf="../hm_dataset/preprocessed_data/hm_preprocessed.csv", sep="\t", index=False)